header, main {
	padding-left: 240px;
} 

nav {
	height: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

main {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
}

#map-container, #map{
	height:100%;
}

p.range-field{
	position: relative;
}

div.range-label.row, div.range-field{
	padding: 0px;
	line-height: 40px;
	margin-bottom: 0px;
}

.value{
	color: #26a69a;
}

span.thumb, span.thumb.active{
	line-height: 15px;
	position: absolute;
}

p.section-description {
	line-height: 15px;
	padding: 1rem;
	text-align: justify;
	width: 220px;
}

div.profile-card {
	width: 320px;
	position: absolute;
	top: 0px;
	right: 20px;
	z-index: 1;
}

div.dynamic-card {
	position: absolute;
	top: 0px;
	left: 300px;
	z-index: 1;
}

div.info-card {
    width: 320px;
    position: absolute;
    top: 0px;
    left: 300px;
    z-index: 1;
}

div.card-action.row{
	padding-bottom: 0px;
	text-align: justify;
	width: 300px;
}

.preloader-wrapper{
	position: absolute;
	left: 50%;
    margin-left: -32px;
    top: 50%;
    margin-top: -32px;
	z-index: 1;
}

#site-logo{
    padding-top: 20px;
    margin-left: 35px;
	width:70%;
}

span.add-dynamic-button {
    bottom: 100px;
    right: 100px;
    position: absolute;
    z-index: 9999999;
}

div.dynamic-label{
	line-height: 32px;
}

div.profile-button.row.card-action{
	padding: 0px;
}
